* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0;
}

.container {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    width: 400px;
    text-align: center;
    position: relative;
}

.hole {
    width: 50px;
    height: 50px;
    background-color: #55ff00;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 0 auto;
}

.arrow {
    position: absolute;
    top: 20px;
    font-size: 24px;
    cursor: pointer;
}

.arrow.left {
    left: 100px;
}

.arrow.right {
    right: 100px;
}

.hole-change-menu {
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 5px;
}

.transform {
    transform: rotate(180deg);
    padding-top: 7px;
}

.par select {
    appearance: none;
    border-radius: 10px;
    font-size: 18px;
    margin: 10px 0;
    padding: 4px 10px;
}

.hole-change-buttons {
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
}

.hole-change-button {
    width: 25px;
    height: 25px;
    background-color: #55ff00;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin: 5px auto;
}

.players {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 10px;
}

.player {
    text-align: center;
}

.score {
    font-size: 20px;
    padding: 5px;
}

.stroke {
    font-size: 24px;
    border: 2px solid black;
    display: inline-block;
    width: 30px;
}

.putt {
    font-size: 16px;
    border: 2px solid black;
    display: inline-block;
    width: 30px;
}

.score-number {
    font-size: 24px;
    width: 50px;
    margin: 5px;
}

.game-name {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.olympic {
    margin-top: 10px;
}

.olympic-select {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.olympic-select select {
    text-align: center;
    appearance: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.snake-buttons, .snake-scores {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    padding: 2px 5px;
}

.snake-buttons button{
    padding: 2px 10px;
}

.snake-now {
    font-size: 18px;
}

.ppp-selects {
    display: flex;
    justify-content: space-between;
}

.ppp-selects select {
    text-align: center;
    appearance: none;
    border-radius: 5px;
    padding: 5px 10px;
}